<div class="container">
    <div class="bgWhiteWrapper center-block">
        <br />
        <div class="text-center">
            <p>Find my music on&nbsp;&nbsp;<i class="fa fa-hand-o-down" aria-hidden="true"></i></p>
            <a class="btn btn-social btn-reddit" target="_blank" href="http://www.youtube.com/user/martinkuzdowicz">
                <span class="fa fa-youtube" aria-hidden="true"></span>YouTube
            </a>&nbsp;&nbsp;or&nbsp;&nbsp;
            <a class="btn btn-social btn-soundcloud" target="_blank" href="http://soundcloud.com/martinkuzdowicz">
                <span class="fa fa-soundcloud" aria-hidden="true"></span>Soundcloud
            </a>

            <br /><br />
            <img id="img-music" class="img-responsive center-block" alt="Martin Kuzdowicz" src="../img/MusicImg.jpg" />
            <br />
        </div>
    </div>
</div>

