<div class="container">
    <div class="bgWhiteWrapper center-block">
        <br/>
        <img id="img-bio" class="img-circle img-responsive center-block" src="../img/mk_thumb.jpg" alt="Martin Kuzdowicz" /><br />
        <p class="lead text-center">
            <strong> Martin Kuzdowicz</strong><br />
            Senior Software Engineer | Music Composer | Guitar Player<br />

            <div class="panel panel-default">
              <div class="panel-body">
                <p>
                  As a Senior Software Engineer I specialize in <strong>Big Data, Machine Learning and Cloud Technologies</strong>
                  <br />
                  I have a strong expirence in <strong>Full-Stack Web Development</strong> as well
                <br />

                  I worked with technologies like:
                </p>
                <ul>
                  <li>Scala</li>
                  <li>Java</li>
                  <li>Python</li>
                  <li>JavaScript</li>
                  <li>Apache Spark</li>
                  <li>AWS</li>
                  <li>Spring</li>
                  <li>Hibernate</li>
                  <li>Node.js</li>
                  <li>Express.js</li>
                  <li>React.js</li>
                  <li>Flask</li>
                  <li>Mongo DB</li>
                  <li>Oracle</li>
                  <li>GIT</li>
                  <li>and others ...</li>
                </ul>

                <p class="text-center">
                  <a target="_blank" href="https://www.linkedin.com/in/mkuzdowicz">
                    More about my programming skills and my career as a Senior Software Developer
                  </a>
                </p>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-body">
              <p>
                As a musician I specialize in improvised music such as Jazz and modern Rock.
                I am cooperating with bands:
              </p>
              <ul class="list-unstyled">
                  <li><a target="_blank" href="http://www.freewayquintet.pl/">Freeway Quintet</a></li>
                  <li>Soundrise</li>
                  <li>Flying Moses</li>
                  <li> Breslauer Cocktail</li>
              </ul>
            </div>
          </div>
        <div class="panel panel-default">
            <div class="panel-heading">Selected achievements as a musician</div>
            <div class="panel-body">
                <ul class="list-style">
                    <li>Audience Award at the International Getxo Jazz Festival in Spain 2013 (with Freeway Quintet band )</li>
                    <li>Second price on the Festival of Jazz Juniors in Krakow in 2010 (with Freeway Quintet band )</li>
                    <li>Grand Prix - National Competition Jazz RCK pro Jazz Festival 2010 in Kolobrzeg (with Freeway Quintet band )</li>
                    <li>TVP KULTURA Award (Polish television) - Festival NIEMEN NON STOP 2009 Slupsk (with Soundrise band )</li>
                    <li>Compose music for the silent film The Cabinet of Dr. Caligari for the 100th anniversary of the Technical Universities in Wroclaw in 2010 <br/>
                     (with Freeway Quintet band )</li>
                    <li>Andrew Jakóbiec Prize for the most talented creators of jazz at festival FAMA 2009 Swinoujscie (with Freeway Quintet band )</li>
                    <li>
                        Third price in the II Student Instrumental Competition "Fryderyk Chopin" Zielona Gora 2006 in the category of jazz, <br />
                        for the jazz interpretation of  Waltz cis- moll op. 67 No. 2 by Frederic Chopin
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <i>
                    &nbsp;&nbsp;&nbsp;Currently my fields of interest are focused on exploring AI, Machine Learning and Big Data<br /><br />
                    I am also exploring and implementing solutions on how can I combine my music skills and my programming skills.<br />
                    To develop this interests I am using now among others the Sonic PI environment wich is a programming language environment for creating music.
                    As I go further into programming I begin to see more and more similarities between programming and composing music.
                    This similarities are for example beetwen design patterns and music forms or list of objects comparing to scales in music.<br />
                </i>
            </div>
        </div>

    </div>

</div>
