
<div class="container">
    <br />
    <br /><br /><br /><br />
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <hr />
        </div>
        <div class="col-md-4 col-md-offset-3 textWhite">
                <dl class="dl-horizontal text-center">
                    <dt>email:</dt>
                    <dd>martin.kuzdowicz@gmail.com</dd>
                </dl>
            </div>
        </div>
        <div class="col-md-4 col-md-offset-4">
            <hr />
        </div>
    </div>
